FOUNDRY_PROJECT_ENDPOINT=

MEMORY_STORE_CHAT_MODEL_DEPLOYMENT_NAME=
MEMORY_STORE_EMBEDDING_MODEL_DEPLOYMENT_NAME=

# Azure OpenAI configuration
AZURE_OPENAI_ENDPOINT=
AZURE_OPENAI_API_KEY=<Optional>
AZURE_OPENAI_API_VERSION=
AZURE_OPENAI_DEPLOYED_MODEL_NAME=

MISTRAL_DEPLOYED_MODEL_NAME=